.mui-grid-cell {
  padding: 16px;
  text-align: center;
  background: #f5f5f5;
  border-radius: 0px;
}
.mui-grid-label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #1976d2;
  font-size: 12px;
}
.mui-grid-value {
  font-size: 12px;
  color: #333;
}
